.contact-form {
    /* margin-top: 50px; */
    background-image: url("images/contactus.png");
    /* /* background-size: cover; */
    background-position: left;
    /* padding: 50px; */
    /* color: #fff; */

}

.carousell {
    padding: 20px;
    height: 500;
    width: 500;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
}

.square {
    background-color: #f2f2f2;
    padding: 20px;
}

.square-content {
    text-align: left;
}

.back {
    /* margin-top: 50px; */
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: left;
    /* padding: 50px; */
    /* color: #fff; */
}

.selected {
    color: orange;
    cursor: pointer;
}